In [1]:
import psycopg2

In [14]:
conn = psycopg2.connect('dbname=example')

In [19]:
cursor = conn.cursor()

In [16]:
cursor.execute('''
  create table table2 (
  id INTEGER PRIMARY KEY,
  completed BOOLEAN NOT NULL DEFAULT False
  );
''')

DuplicateTable: relation "table2" already exists

In [20]:
cursor.execute('INSERT INTO table2 (id, completed) VALUES (1, true);')

UniqueViolation: duplicate key value violates unique constraint "table2_pkey"
DETAIL:  Key (id)=(1) already exists.

In [21]:
conn.commit()

In [22]:
cursor.close()
conn.close()